player-connection-mode=Listen
player-connection-guid=2153840009
player-connection-debug=0
player-connection-project-name=Mergallies
player-connection-ip=192.168.1.191
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=3e8b4cc57d2b495d94703542ff102f04
